<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ec7737c18b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Cinema FM-VC</title>
</head>

<body class="body-register">
    <header> aqui va el header</header>
    <form  class="register-form"action="post">
        <div class="register ">
            <label for="usuario"></label>
            <input type="text" name="Nombre de usuario" id="usuario" placeholder="Nombre de usuario">
            <div class="iconousuario">
                <i class="fa-regular fa-circle-user" id="icon-register"></i>
            </div>
            
        </div>
        <div class="register ">
            <label for="Correo Electrónico"></label>
            <input type="email" name="correo" id="Correo Electrónico" placeholder="@gmail.com" <div class="iconousuario">
            <i class="fa-regular fa-envelope" id="icon-register"></i>
        </div>
        </div>
        <div class="register ">
            <label for="Contraseña"></label>
            <input type="password" name="contraseña" id="Contraseña" placeholder="contraseña" required>
            <div class="iconousuario">
                <i class="fa-regular fa-eye-slash" id="icon-register"></i>
            </div>
        </div>
        <div class="register ">
            <label for="confirmacion"></label>
            <input type="password" name="confirmacion" id="" placeholder="confirme contraseña" >
            <div class="iconousuario">
            <i class="fa-solid fa-eye-slash" id="icon-register"></i>
        </div>
        </div>
        <div class="register__terminos-condiciones">
            <input type="checkbox" name="terminos">
            <label for="">Acepto terminos y condiciones</label>
        </div>
        <a href="/" class="register__buttom">
            <button type="button" class="btn btn-outline-secondary">Registrarme</button>
        </a>
    </form>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</html>